@import './theme.scss';

:root {
  --ry-menu-width: 240px;
}

// button
.t-button--variant-text:hover {
  background-color: var(--td-brand-color-4);
  border-color: var(--td-brand-color-4);
  &.t-is-disabled {
    background-color: transparent;
    border-color: transparent;
  }
}
.t-button:not(.t-is-disabled):not(.t-button--ghost) {
  --ripple-color: var(--td-brand-color-6);
}

// dropdown
.t-dropdown__item {
  color: var(--td-brand-color);
  &:hover {
    background-color: var(--td-brand-color-4);
  }
}

// message
.t-message {
  &.t-is-warning {
    background-color: var(--td-warning-color-2);
  }
  &.t-is-info {
    background-color: var(--td-info-color-2);
  }
  &.t-is-success {
    background-color: var(--td-success-color-2);
  }
  &.t-is-error {
    background-color: var(--td-error-color-2);
  }
}

// draw
.t-drawer__footer {
  & > div {
    justify-content: flex-end !important;
  }
  .t-button {
    margin-right: 8px;
    &:first-child {
      order: 2;
    }
  }
}

// textarea
.t-textarea {
  textarea {
    resize: none;
  }
}

// ruiyun
.ry-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: #fff;
  padding: 16px 20px;
  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search-input {
      width: 330px;
      .search-btn {
        cursor: pointer;
      }
    }
  }
  .table-content {
    flex: 1;
    margin: 20px auto;
    ::v-deep(.t-table th) {
      border-top: 1px solid var(--td-component-border);
    }
  }
  .table-pagination {
    height: 32px;
  }
}
